<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cidp.monitorsystem.mapper.HomeMapper">
    <select id="selectAllSystem" resultType="integer">
        select count(*) from system
    </select>

    <select id="selectPoints" resultType="integer">
        select count(*) from ruleset
    </select>

    <select id="selectFaultNums" resultType="integer">
       select count(*) from (select ip from snmptrap union all select ip from diagnosis) as tal
    </select>

    <select id="selectFaultDistribution" resultType="com.cidp.monitorsystem.model.FaultDistribution">
        select typeName as name,count(a.ip) as num from (select ip,zhpoint from snmptrap union all select ip,zhtype as zhpoint from diagnosis,point where diagnosis.pid = point.id) as a right join (select ip,typeName  from system) as b on a.ip = b.ip  where typeName not in ('SNMP服务配置有误','未知设备')group by typeName

    </select>
    <select id="selectNewDiagnosis" resultType="com.cidp.monitorsystem.model.Diagnosis">
        select * from diagnosis where DATE_FORMAT(time,"%Y-%m-%d")=DATE_FORMAT(now(),"%Y-%m-%d")  order by time desc limit 10
    </select>
    <select id="selectEquipmentStatistics" resultType="com.cidp.monitorsystem.model.SeriesData">
        select typeName as name,count(typeName) as value from system where system.typeName not in ('SNMP服务配置有误','未知设备') group by system.typeName
    </select>

    <select id="selectPointsStatistics" resultType="com.cidp.monitorsystem.model.SeriesData">
        select zhpoint  as name ,count(zhpoint) as value from (select ip,zhpoint from snmptrap union all select ip,zhtype as zhpoint from diagnosis,point where diagnosis.pid = point.id ) as tab group by zhpoint
    </select>
    <select id="selectCpu" resultType="com.cidp.monitorsystem.model.Cpu">
        select * from cpu where ip = #{ip} and  DATE_FORMAT(time,"%Y-%m-%d")=DATE_FORMAT(now(),"%Y-%m-%d") order by time desc limit 5
    </select>
    <select id="selectMemory" resultType="com.cidp.monitorsystem.model.Memory">
        select * from memory where ip = #{ip} and  DATE_FORMAT(time,"%Y-%m-%d")=DATE_FORMAT(now(),"%Y-%m-%d") order by time desc limit 5
    </select>
</mapper>