<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cidp.monitorsystem.mapper.InterfaceOfMacMapper">

    <insert id="addMac">
        insert into interface_mac(ip,index,ifmac)
        values
        <foreach collection="list" item="item" index="interface" separator=",">
            (
            #{item.ip},
            #{item.index},
            #{item.ifmac}
            )
        </foreach>
    </insert>
</mapper>